<body>
    <h1>Welcome to OAuth2.0 Testing</h1>
    <div class='topbar'>
        <h2>Oregon State University</h2>
        <h2>CS 467 RATS</h2>
        <h2>Tommy Armstrong</h2>
    </div>
    <h2 class='content-title'>Description</h2>
    <div class='content'>
        <p>This is just to test whether OAuth2 implementation with Django</p>
        <p><b>To see all this in action please click on the link below:</b></p>
        <p><a href="{{ url }}">Click Here to View Your Google Information</a></p>
    </div>
</body>