<body>
    <h1>OAuth2.0 Project Results</h1>
    <div class='topbar'>
        <h2>Oregon State University</h2>
        <h2>CS 467 RATS</h2>
        <h2>Tommy Armstrong</h2>
    </div>
    <h2 class='content-title'>User Info</h2>
    <div class='content'>
        <h3>First Name: {{ data.firstname }}</h3>
        <h3>Last Name: {{ data.lastname}}</h3>
        <h3>Email: {{ data.email }}</h3>
        <h3>OAuth2.0 State Value: {{ data.state }}</h3>
    </div>
    <a href='http://127.0.0.1:8083'><button>Please click here to return to the homepage</button></a>
</body>